<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channel</title>
</head>
<body>
<p>The distributed messenger. <a href="{{ url_for('home_page') }}">List of channels.</a></p>

{% if channel %}
    <h1>Channel {{ channel.name }}</h1>

    {% for message in messages %}
        <p>Number: {{ message.number }}</p>
        <p style="font-size: 60%">{{ message.timestamp }}</p>
    {% endfor %}
{% else %}
    <h1>Channel not found</h1>
{% endif %}

<form action="/post" method="post">
    Number: <input type="number" name="number" id="number"> <br>
    <input type="hidden" name="channel" value="{{ channel.endpoint | urlencode }}">
    <input type="submit" value="Post">
</form>

</body>
</html>
